body{
  z-index: 0;
}

.header_a{
  text-decoration: none;
  color: black;
}

.header_a:hover{
  text-decoration: none;
}

.title_wrapper{
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
}

.count_wrapper{
  text-align: center;
  margin-bottom: 30px;
}

.alert{
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

<<<<<<< HEAD
.column_wrapper{
  /* background-color: aqua; */
  font-size: x-large;
  display: flex;
  margin: 0 auto;
  width: 90%;
  border-bottom: solid 1px grey;
  /* text-align: center; */
}

.quali_wrapper{
  /* background-color: yellowgreen; */
  margin: 0 auto;
  width: 90%;
}

.each_quali{
  /* background-color: yellow; */
  display: flex;
  font-size: large;
  padding: 10px;
  cursor: move;
=======
/* table{
  margin: 0 auto;
  width: 80%;
} */

/* thead{
  font-size: xx-large;
  border-bottom: solid 1px;
} */

/* td{
  text-align: center;
  padding:10px 0px;
>>>>>>> new-dev
}


<<<<<<< HEAD
=======
} */
>>>>>>> new-dev

/* .quali_wrapper_button{
  background-color: wheat;
} */

.fas{
  padding: 0 5px;
}

<<<<<<< HEAD
ul.sortable{
  padding: 0;
}
=======
/* tr:nth-child(even){
  background-color: gainsboro;
>>>>>>> new-dev

li{
  list-style: none;
}

<<<<<<< HEAD
li:nth-child(even){
  background-color: #e9e9e9;
}
=======
tbody{
  font-size: x-large;
} */
>>>>>>> new-dev



.edit-quali{
  text-align: center;
}

.edit_fill{
  width: 300px;
}

.edit_buttons{
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.delete_button{
  margin-left: 5px;
}



#modal{
  background: #fff;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 6px;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#modal.hidden{
  position: absolute;
  /* position: relative; */
  top: 0;
  left: 0;
  transform: translate(0, -400px);
}

#covor{
  background: grey;
  opacity: 0.6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#covor.hidden{
  display: none;
}

.fills{
  text-align: center;
}

.quali_fill{
  padding-bottom: 10px;
}

.date_fill{
  padding-bottom: 10px;
}

.modal_buttons{
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD
=======



>>>>>>> new-dev
